rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {

    function isSignedIn() {
      return request.auth != null;
    }

    function isImage() {
      return request.resource.contentType.matches('image/.*')
        && request.resource.size < 5 * 1024 * 1024;
    }

    match /membros/{fileName} {
      allow read: if true;
      allow write: if isSignedIn() && isImage();
    }

    match /igreja/{fileName} {
      allow read: if true;
      allow write: if isSignedIn() && isImage();
    }
  }
}
